* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: hsla(266, 67%, 72%, 1);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}